.canvas {
  flex-grow: 1;
  position: relative;
}

.prop-panel {
  max-height: calc(100vh - var(--navbar-height));
  border-left: 1px solid #b9bcc6;
  overflow-y: auto;
}

.toolbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 10;
}

.sub-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15px;
  padding: 2px;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 10px;
  background-color: inherit;
  border: none;
}

.toolbar .icon-btn {
  margin: 2px 5px;
}

.icon-btn a {
  text-decoration: none;
  color: #000;
}

.edit-bar {
  position: absolute;
  right: 15px;
  bottom: 200px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.zoom-bar {
  position: absolute;
  right: 15px;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  z-index: 10;
}

.zoom-bar .icon-btn,
.edit-bar .icon-btn {
  margin-top: 10px;
  margin: 5px 3px;
}

.zoom-bar,
.sub-toolbar,
.edit-bar {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.icon-btn:hover {
  cursor: pointer;
  background-color: var(--light-primary-color);
}

.icon-btn:hover > .material-icons {
  color: rgba(0, 0, 0, 0.54);
}

.hidden {
  display: none;
}
