#home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  width: 100%;
}

#recent-diagrams-container {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  max-width: 70%;
  margin-top: 15px;
  padding: 5px;
}

.subtitle {
  font-weight: 600;
  margin: 0;
}

#recent-diagrams-list {
  padding: 0;
}

.recent-diagrams-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--divider-color);
  cursor: pointer;
}

.recent-diagrams-item > p {
  display: block;
  margin: 10px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recent-diagrams-item > span {
  margin: 0 10px;
  visibility: hidden;
}

.recent-diagrams-item:hover {
  background-color: var(--divider-color);
}

.recent-diagrams-item:hover > p {
  color: #fff;
}

.recent-diagrams-item:hover > span {
  visibility: visible;
}

.recent-diagrams-item:hover > span:hover {
  color: #fff;
  cursor: pointer;
}

.home-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 30px;
  align-self: center;
}

.home-icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--primary-color);
  border-radius: 15px;
  margin: 0 10px;
  padding: 10px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.home-icon-btn p {
  letter-spacing: 1px;
  color: #fff;
  font-size: 18px;
  margin: 10px 5px;
}

.home-icon-btn:hover {
  background-color: var(--light-primary-color);
}

.home-icon-btn:hover p,
.home-icon-btn:hover .material-icons {
  color: rgba(0, 0, 0, 0.54);
}

li {
  list-style: none;
}
