@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --dark-primary-color: #388e3c;
  --primary-color: #10d170;
  --light-primary-color: #c8e6c9;
  --secondary-color: #7a9286;
  --secondary-text: #757575;
  --accent-color: #607d8b;
  --icons-color: #ffffff;
  --divider-color: #bdbdbd;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-bar {
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0 20px;
}

.title-container {
  display: flex;
  align-items: center;
  color: #fff;
  height: 75px;
}

.title {
  text-shadow: 2px 2px 4px #000000;
}

.logo {
  display: block;
  max-width: 90px;
}

#app {
  display: flex;
  flex-grow: 1;
  justify-content: stretch;
  padding: 0;
}

.hidden-link {
  text-decoration: none;
  color: inherit;
}
