@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --dark-primary-color: #388e3c;
  --primary-color: #10d170;
  --light-primary-color: #c8e6c9;
  --secondary-color: #7a9286;
  --secondary-text: #757575;
  --accent-color: #607d8b;
  --icons-color: #ffffff;
  --divider-color: #bdbdbd;
}

/* MATERIAL ICONS STYLING */

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light:hover {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/*************************+*/

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-bar {
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0 20px;
  z-index: 100;
}

.title-container {
  display: flex;
  align-items: center;
  color: #fff;
  height: 75px;
}

.title {
  text-shadow: 2px 2px 4px #000000;
  margin: 0;
}

.logo {
  display: block;
  max-width: 90px;
}

#app {
  display: flex;
  flex-grow: 1;
  justify-content: stretch;
  padding: 0;
}

.hidden-link {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}
