@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#wrapper > * {
  padding: 5px;
}

.top-bar {
  display: flex;
  flex-grow: 0;
}

#canvas-container {
  display: flex;
  flex-grow: 1;
  justify-content: stretch;
  padding: 0;
}

#canvas {
  flex-grow: 1;
}

.title {
  margin: 10px auto;
  border: solid 1px #999;
  background: #eee;
  border-radius: 5px;
}

.title h1 {
  margin: 5px;
}

.toolbar {
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.icon-btn {
  border: solid 1px #999;
  border-radius: 8px;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
}

.toolbar .icon-btn {
  margin-right: 10px;
  display: inline-block;
}

.icon-btn:hover {
  cursor: pointer;
  background-color: darkgrey;
}

.icon-btn a {
  text-decoration: none;
  color: #000;
}

.zoom-bar {
  position: fixed;
  right: 20px;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.zoom-bar .icon-btn {
  margin-top: 10px;
}
