@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#wrapper > * {
  padding: 5px;
}

.top-bar {
  display: flex;
  flex-grow: 0;
}

#canvas-container {
  display: flex;
  flex-grow: 1;
  justify-content: stretch;
  padding: 0;
}

#canvas {
  flex-grow: 1;
}

.title {
  margin: 10px auto;
  border: solid 1px #999;
  background: #eee;
  border-radius: 5px;
}

.title h1 {
  margin: 8px;
}

.toolbar {
  display: flex;
  flex-direction: row;

  position: fixed;
  left: 10px;
  bottom: 10px;
}

.sub-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15px;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 20px;
  background-color: inherit;
  border: none;
}

.icon-btn img {
  width: 20px;
  height: 20px;
}

.toolbar .icon-btn {
  margin: 2px 5px;
}

.icon-btn a {
  text-decoration: none;
  color: #000;
}

.zoom-bar {
  position: fixed;
  right: 15px;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.zoom-bar .icon-btn {
  margin-top: 10px;
  margin: 5px 3px;
}

.zoom-bar,
.sub-toolbar {
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #999;
}

.icon-btn:hover {
  cursor: pointer;
  background-color: darkgrey;
}

.hide {
  display: none;
}
